@font-face {
   font-family: 'Univers LT';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-06-16_020418/fonts/Univers%20LT%20Std%2059%20Ultra%20Condensed/font.ttf');
}
